.endNoteLine {
  font-size: 0.7rem;
  vertical-align: top;
}

.ql-font-Bitter {
  font-family: "Bitter", serif;
}

.ql-font-WorkSans {
  font-family: "Work Sans", sans-serif;
}

.ql-font-Cursive {
  font-family: cursive;
}
