.endNoteLine {
  font-size: 0.7rem;
  vertical-align: top;
}

.ql-font-serif {
  font-family: "Bitter", serif !important;
}

.ql-font-sans {
  font-family: "Work Sans", sans-serif !important;
}

.ql-editor .ql-font-monospace {
  font-family: cursive !important;
}

.ql-picker-item[data-value="sans"]::before {
  content: "Work Sans" !important;
  font-family: "Work Sans", sans-serif !important;
}
.ql-picker-item[data-value="serif"]::before {
  content: "Bitter" !important;
  font-family: "Bitter", serif !important;
}

.ql-picker-item[data-value="monospace"]::before {
  content: "Cursive" !important;
  font-family: cursive !important;
}

.ql-picker-label[data-value="sans"]::before {
  content: "Work Sans" !important;
  font-family: "Work Sans", sans-serif !important;
}
.ql-picker-label[data-value="serif"]::before {
  content: "Bitter" !important;
  font-family: "Bitter", serif !important;
}
.ql-picker-label[data-value="monospace"]::before {
  content: "Cursive" !important;
  font-family: cursive !important;
}
